@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.FAQItem {
    @include flex;

    padding: 43px 0;
    border-bottom: 2px solid $additionalFontColor;

    &__text {
        max-width: 1100px;

        p {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__show {
        opacity: 1;
        height: 50px;
        margin-top: 30px;
        transition: all 0.3s;
    }
    &__hide {
        opacity: 0;
        height: 0;
        transition: all 0.3s;
    }

    &__show-btn,
    &__hide-btn {
        position: relative;
        width: 48px;
        height: 48px;
        background: $additionalAccentColor;
        border-radius: 50%;

        &::after,
        &::before {
            position: absolute;
            background: $mainColor;
            border-radius: 2px;
        }
        &::after {
            content: '';
            height: 21px;
            width: 3px;
        }
        &::before {
            content: '';
            width: 21px;
            height: 3px;
        }
    }

    &__show-btn {
        transform: rotate(45deg);
        transition: transform 0.3s;
    }
    &__hide-btn {
        transform: rotate(0);
        transition: transform 0.3s;
    }
}
