$mainColor: #ffffff;
$mainFontColor: #1f1d2a;
$additionalFontColor: #4f5569;
$mainAccentColor: #14a76c;
$additionalAccentColor: #ff652f;
$additionalBtnColor: #e02d05;
$spaceBgColor: linear-gradient(326.12deg, #5d77ff 17.95%, #6539c1 89.78%);

$borderRadius: 15px;
